@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  color: #131217;
}



.corn-bg {
  background-color: #BABEBF;
}

.corn-total {
  background-color: #736473;
  height: 100vh;
}
.corn-title {
  color: #9FA7BF;
  font-size: 8vw;
}
